/* Global variables */
:root {
  --color-primary: #5c0606;
  --color-grad-1: #161314;
  --color-grad-2: #312829;

  --color-grey-light-1: #f9f3f4;
  --color-grey-light-2: #eeeded;
  --color-grey-light-3: #d3cfd0;
  --color-grey-light-4: #afabab;
  --color-grey-light-5: #928d8d;
  --color-grey-dark-1: #1c1616; /* Normal background */
  --color-grey-dark-2: #2e2727;
  --color-grey-dark-3: #443a3b;
  --color-grey-dark-4: #5f5454;
  --color-grey-dark-5: #7d7576;

  --gradient: linear-gradient(
    to top left,
    var(--color-grad-1),
    var(--color-grad-2)
  );

  --bp-large: 78.15em;
  --bp-medium: 61.25em;
  --bp-small: 37.5em;
  --bp-smallest: 31.25em;
}
