/* Components styles */

.btn {
  display: flex;
  align-items: center;
  height: 2.15rem;
  font-size: 1.1rem;
  padding: 0 1rem;
  border: var(--color-grey-light-3) solid 1px;
  border-radius: 1.2rem;
  background-color: var(--color-grey-light-3);
  color: var(--color-grey-dark-3);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.spinner svg {
  height: 4rem;
  width: 4rem;
  fill: var(--color-grey-light-5);
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error svg {
  height: 2rem;
}
