/* Inputs section stytles */

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  min-width: 20rem;
  height: 100%;
  border-right: var(--color-grey-dark-4) solid 2px;
  background-color: var(--color-grey-dark-3);
  margin-right: 0.5rem;
}

.input-section hr {
  margin: 0.5rem 0;
  width: 90%;
}

/* Options buttons and selectors */

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.counters__lane__btn,
.counters__rank__btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 5.1rem;
  width: 5.1rem;
  margin-right: 0.3rem;
  padding: 0.2rem;
  gap: 0.2rem;
  text-align: center;
  border: 1px solid var(--color-grey-dark-4);
  border-radius: 0.5rem;
}

.counters__lane__btn img {
  width: 2.8rem;
}

.counters__rank__btn img {
  width: 3.2rem;
  margin-bottom: -0.5rem;
}

.small__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  gap: 0.3rem;
}

.counters__vslane__btn,
.counters__patch__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  border: var(--color-grey-dark-4) solid 1px;
  border-radius: 0.5rem;
}

.counters__vslane__btn {
  padding: 0.2rem;
}

.counters__vslane__btn img {
  width: 2rem;
}

.vslane__label {
  margin-left: 0.5rem;
}

.counters__patch__btn {
  padding: 0.3rem 0.2rem;
  background-color: var(--color-grey-dark-3);
  border: var(--color-grey-dark-4) solid 1px;
  border-radius: 0.5rem;
  color: var(--color-grey-light-1);
}

.counters__patch__btn span {
  font-size: 1rem;
}

/* Settings inputs */

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  gap: 2rem;
}

.settings__input {
  width: 2rem;
  background-color: var(--color-grey-light-5);
  color: var(--color-grey-dark-1);
  margin-left: 0.3rem;
}
