/* Main page style */
:root {
  --color-primary: #5b0775;
  --color-grad-1: #17011e;
  --color-grad-2: #360545;

  --color-grey-light-1: #f8f3f9;
  --color-grey-light-2: #eeedee;
  --color-grey-light-3: #cbc3d3;
  --color-grey-light-4: #ac9db0;
  --color-grey-light-5: #8e8191;
  --color-grey-dark-1: #190e19; /* Normal background */
  --color-grey-dark-2: #2c1e2c;
  --color-grey-dark-3: #402e43;
  --color-grey-dark-4: #5b4860;

  --gradient: linear-gradient(
    to top left,
    var(--color-grad-1),
    var(--color-grad-2)
  );

  --bp-large: 78.15em;
  --bp-medium: 61.25em;
  --bp-small: 37.5em;
  --bp-smallest: 31.25em;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 95%;
}

svg {
  fill: var(--color-grey-light-3);
}

body {
  font-family: sans-serif;
  height: 180vh;
  /* display: flex; */
  align-items: center;
  color: var(--color-grey-light-3);
  background: var(--gradient);
}

.main-container {
  max-width: 70rem;
  min-height: 50rem;
  margin: 1vw auto;
  background-color: var(--color-grey-dark-1);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(#000000, 0.5);
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'head head'
    'list recipe'; */

  /* @media only screen and (max-width: $bp-large) {
    max-width: 100%;
    margin: 0;
    border-radius: 0; */
}

hr {
  width: 100%;
  border-color: var(--color-grey-dark-4);
  margin-bottom: 0.3rem;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.2rem;
  margin-bottom: 0.3rem;
}

.header {
  display: flex;
  height: 2.2rem;
  align-items: center;
}

.spinner {
  margin: 2rem auto;
  text-align: center;
}

.spinner svg {
  height: 4rem;
  width: 4rem;
  fill: var(--color-grey-light-5);
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header__logo,
.input-section {
  /* flex: 0 0 25%; */
  width: 20rem;
  margin-right: 1.8rem;
}

.header__central {
  flex: 1 1 auto;
  justify-content: flex-end;
}

.header__login {
  /* flex: 0 0 15%; */
  width: 9rem;
  justify-content: flex-end;
  margin-left: 2rem;
}

.logo {
  max-height: 2.2rem;
}

.login__btn,
.lang__btn {
  border-radius: 1.1rem;
  height: 2.2rem;
  font-size: 1.1rem;
}

.lang__btn {
  width: 2.8rem;
}

.login__btn {
  width: 6rem;
}

.user__icon {
  display: flex;
  max-height: 2.2rem;
  max-width: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top-section {
  display: flex;
  border-bottom: var(--color-grey-dark-4) solid 2px;
  border-top: var(--color-grey-dark-4) solid 2px;
  height: 9rem;
  align-items: center;
  background-color: var(--color-grey-dark-2);
}

.input-section {
  /* flex: 0 0 25%; */
  display: flex;
  min-width: 20rem;
  /* border: white solid 1px; */
  height: 9rem;
  border: var(--color-grey-dark-4) solid 2px;
  border-left: none;
  background-color: var(--color-grey-dark-3);
  margin-right: 0.5rem;
}

.input__clickable,
.selector__clickable {
  cursor: pointer;
}

.input__clickable:hover,
.selector__clickable:hover {
  background-color: var(--color-grey-dark-4);
}

.input__clickable:hover {
  border: 1px solid var(--color-grey-light-5);
  transform: scale(1.1);
}

.main__input {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.1rem;
  text-align: center;
}

.main__input img {
  height: 3.5rem;
}

.small__inputs {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
}

.small__input {
  display: flex;
  height: 50%;
  padding: 0 0.5rem;
}

.vslane__input {
  align-items: flex-end;
  padding-bottom: 0.2rem;
}

.patch__input {
  align-items: flex-start;
  padding-top: 0.5rem;
}

.small__input img {
  height: 2rem;
  margin-right: 0.5rem;
}

.patch__btn {
  height: 2rem;
  background-color: var(--color-grey-dark-3);
  border: var(--color-grey-dark-4) solid 1px;
  color: var(--color-grey-light-1);
  width: 6.5rem;
}

.selector {
  position: relative;
}

.popup {
  position: absolute;
  top: 30%;
  left: 100%;
  display: flex;
  background: var(--color-grey-dark-2);
  padding: 0.5rem;
  border: 1px solid var(--color-grey-dark-4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.selector__text {
  font-size: 0.75rem;
  padding: 0;
  font-stretch: extra-condensed;
}

.lane__selector,
.vslane__selector {
  top: 25%;
  left: 100%;
  gap: 6px;
}

.vslane__selector {
  left: 40%;
  text-align: center;
}

.lane__selector img,
.vslane__selector img {
  height: 2rem;
  padding: 0;
  cursor: pointer;
}

.vslane__selector img {
  margin: 0;
}

.rank__selector {
  top: 80%;
  left: 10%;
  gap: 8px;
  width: 16rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.rank__selector img {
  height: 2.5rem;
  cursor: pointer;
}

.selector__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  padding: 0;
}

.champion__pull {
  flex: 1 1 75%;
  min-width: 50rem;
  height: 9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.champion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  margin: 0 0.5rem;
  width: 6rem;
  height: 8rem;
  border: var(--color-grey-dark-3) solid 1px;
  font-size: 0.8rem;
  font-style: italic;
}

.champion img {
  width: 4.7rem;
}

.champion__wr {
  font-size: 1.2rem;
  font-weight: 600;
}

.champion__ban {
  font-size: 1rem;
}

.input {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
}

input {
  border-radius: 1.1rem;
  height: 2.2rem;
  font-size: 1.1rem;
  background-color: var(--color-grey-light-3);
}

.search__icon {
  fill: var(--color-grad-2);
  max-height: 1.8rem;
  max-width: 3rem;
  margin-left: -3.2rem;
}

.data-section {
  width: 100%;
  max-width: 70rem;
  /* min-height: 46rem; */
  display: flex;
  flex: 1;
  border-bottom: var(--color-grey-dark-4) solid 2px;
}

.list-container {
  /* flex: 0 0 25%; */
  display: flex;
  width: 20rem;
  /* height: 46rem; */
  align-items: top;
  padding: 0.5rem 0;
  border-right: var(--color-grey-dark-4) solid 2px;
  margin-right: 0.5rem;
  background-color: var(--color-grey-dark-2);
}

.list-container ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* align-items: center; */
  list-style: none;
  text-align: left;
  padding-left: 0.5rem;
}

.row,
.first-row {
  display: flex;
  align-items: center;
  height: 2.4rem;
}

.first-row {
  height: 1rem;
  font-style: italic;
  font-size: 0.8rem;
}

.data {
  min-width: 3.2rem;
  text-align: center;
}

.champ__img {
  padding: 0.1rem 0.5rem;
  width: 3rem;
  height: auto;
}

.icon__row {
  width: 1.25rem;
  margin-right: 0.5rem;
}

.fr__void {
  width: 1.8rem;
}

.fr__name {
  margin-left: 3rem;
}

.name {
  text-align: left;
}

.counter-container {
  flex: 1;
  /* min-height: 46rem; */
  padding: 0.5rem 0;
}

.counter {
  margin: 0 0.5rem;
  width: 6rem;
}

.counter-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.results {
  min-width: 2.5rem;
  text-align: center;
}
.delta {
  font-size: 0.8rem;
  color: goldenrod;
}

.score {
  font-size: 2rem;
}

footer {
  justify-content: flex-end;
  text-align: center;
  height: 2.8rem;
  color: var(--color-grey-light-4);
}

footer p {
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}
