/* Champions section stytles */

.champion__pull {
  flex: 1 1 75%;
  min-width: 50rem;
  height: 9rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.champion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  margin: 0 0.5rem;
  width: 6rem;
  height: 8rem;
  border: var(--color-grey-dark-3) solid 1px;
  font-size: 0.8rem;
  font-style: italic;
}

.champion img {
  width: 4.7rem;
}

.champion__wr {
  font-size: 1.2rem;
  font-weight: 600;
}

.champion__ban {
  font-size: 1rem;
}

.input {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
}

input {
  border-radius: 1.1rem;
  height: 2.2rem;
  font-size: 1.1rem;
  background-color: var(--color-grey-light-3);
}

.search__icon {
  fill: var(--color-grad-2);
  max-height: 1.8rem;
  max-width: 3rem;
  margin-left: -3.2rem;
}
