/* Inputs section stytles */

.input-section {
  /* flex: 0 0 25%; */
  display: flex;
  width: 20rem;
  min-width: 20rem;
  /* border: white solid 1px; */
  height: 9rem;
  border: var(--color-grey-dark-4) solid 2px;
  border-left: none;
  background-color: var(--color-grey-dark-3);
  margin-right: 0.5rem;
}

.input__clickable,
.selector__clickable {
  cursor: pointer;
}

.input__clickable:hover,
.selector__clickable:hover {
  background-color: var(--color-grey-dark-4);
}

.input__clickable:hover {
  border: 1px solid var(--color-grey-light-5);
  transform: scale(1.1);
}

.main__input {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.1rem;
  text-align: center;
}

.main__input img {
  height: 3.5rem;
}

.small__inputs {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
}

.small__input {
  display: flex;
  height: 50%;
  padding: 0 0.5rem;
}

.vslane__input {
  align-items: flex-end;
  padding-bottom: 0.2rem;
}

.patch__input {
  align-items: flex-start;
  padding-top: 0.5rem;
}

.small__input img {
  height: 2rem;
  margin-right: 0.5rem;
}

.patch__btn {
  height: 2rem;
  background-color: var(--color-grey-dark-3);
  border: var(--color-grey-dark-4) solid 1px;
  color: var(--color-grey-light-1);
  width: 6.5rem;
}
