<!-- LOGIN MODAL -->
<div id="login-modal" class="modal hidden">
  <div class="modal__content">
    <div class="login__title">
      <h2>Log in</h2>
      <div class="btn__close btn__clickable">
        <img src="assets/img/icons/close.png" />
      </div>
    </div>
    <form class="user__login">
      <fieldset>
        <label for="user__password">User name or email:</label>
        <input
          id="user__logname"
          type="text"
          placeholder="User name or email"
        />
        <label for="user__password">Password:</label>
        <input id="user__password" type="password" placeholder="Password" />
      </fieldset>
      <div class="log__buttons">
        <ul class="login__msg">
          <!-- Place for messages -->
        </ul>
        <button class="btn__login btn__clickable">Log In</button>
        <span>¿Don't have an acount...?</span>
        <a href="signup.html"
          ><button class="btn__signup btn__clickable">Sign up</button></a
        >
      </div>
    </form>
  </div>
</div>
<!-- TOP SECTION -->
<section class="top-section">
  <!-- INPUT SECTION -->
  <div class="input-section">
    <!-- Starter Inputs -->
    <div class="starter-options starter__selector">
      <!-- Place to insert starter lane selector -->
    </div>
    <div class="config">
      <!-- Starter -->
      <span class="welcome">Select a lane to start...</span>
    </div>
  </div>
  <!-- POOL SECTION -->
  <div class="pool-section">
    <!-- Place to insert champions selected -->
  </div>
</section>
<!-- DATA SECTION -->
<section class="data-section">
  <!-- TIERLIST SECTION -->
  <div class="list-container">
    <!-- Place to insert a tierlist -->
  </div>
  <!-- STATS SECTION -->
  <div class="stats-container">
    <!-- Place to insert a new stats column -->
  </div>
</section>
