<!-- DATA SECTION -->
<section class="data-section">
  <!-- LOGIN DATA SECTION -->
  <div class="login-content">
    <div class="login__title">
      <h2>Log in</h2>
      <div class="btn__close btn__clickable">
        <img src="assets/img/icons/close.png" />
      </div>
    </div>
    <form id="login__form" class="user__login">
      <fieldset>
        <label for="user__logname">User name or email:</label>
        <input
          id="user__logname"
          name="username"
          type="text"
          placeholder="User name or email"
        />
        <label for="user__password">Password:</label>
        <input
          id="user__password"
          name="password"
          type="password"
          placeholder="Password"
        />
      </fieldset>
      <div class="log__buttons">
        <ul class="login__msg">
          <!-- Place for messages -->
        </ul>
        <button type="submit" class="btn__login btn__clickable">Log In</button>
        <span>¿Don't have an acount...?</span>
        <a href="signup.html"
          ><button type="button" class="btn__signup btn__clickable">
            Sign up
          </button></a
        >
      </div>
    </form>
  </div>
  <!-- LOGIN SIDE VIEW -->
  <div class="login__side__view"></div>
</section>
